[defaults]
inventory = inventory
host_key_checking = False
remote_user = azureuser
private_key_file = /var/jenkins_home/.ssh/id_rsa
timeout = 30
gathering = smart
fact_caching = memory

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
